@fontFamily-yahei:"Microsoft YaHei",arial;
@fontFamily-songti:'宋体',"Microsoft YaHei",arial;
@fontFamily-pingfang:"PingFang SC","Lantinghei SC","Microsoft YaHei",arial,"\5b8b\4f53",sans-serif,tahoma;

//colors
@primary-blue:#006699;
@primary-red:#973f2f;
@blue:@primary-blue;
@red:@primary-red;


@success-deep:rgb(10 ,180,70 );
@success:rgb(92 ,184, 92 );
@success-light: rgb(123, 184, 127);




@danger-light:rgb(255,60,57);
@danger:rgb(213,83,79);
@danger-deep: rgb(250, 100, 100);

@warning-light: rgb(244, 237, 172);
@warning:rgb(240 ,173 ,78);
@warning-deep: rgb(240, 145, 42);

@info-deep:@primary-blue;
@info:rgb(66,139,200);
@info-light:rgb(91,192,222);





@white:rgb(255,255,255);
@white-1:rgb(245,245,245);
@white-2:rgb(230,230,230);
@white-3:rgb(215,215 ,215 );
@white-4:rgb(200,200,200);
@white-5:rgb(185,185,185);
@white-6:rgb(160,160,160);
@white-7:rgb(145,145,145);
@white-7:rgb(130,130,130);

@black:rgb( 0 , 0 ,0 );
@black-1:rgb(16,16,16);
@black-2:rgb(30,30 ,30);
@black-3:rgb(50,50 ,50);
@black-4:rgb(65,65,65);
@black-5:rgb(80,80 ,80);
@black-6:rgb(95 ,95 ,95);
@black-7:rgb(110,110 ,110);
@black-8:rgb(128 ,128 ,128);





