*{
	margin: 0;
	padding: 0;
}

body{
	background: steelblue;
	color: whitesmoke;
	position: relative;
}


.bgGreen{
	background: darkcyan;
}

.box{
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-image:url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1512643143025&di=9b66d10eb6b6038e7791782e693bbaba&imgtype=0&src=http%3A%2F%2Fpic2016.5442.com%3A82%2F2016%2F0126%2F11%2F2.jpg%2521960.jpg") ;
	background-size: cover;
	background-position: center;
	border: 2px solid #ffffff;

	transition:  all 1s linear;

}

.box2{
	margin-top: 30px;
	box-sizing: border-box;
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-image:url("../imgs/timg.jpg") ;
	background-size: 300px 300px;
	background-position: center;
	background-clip: content-box;
	background-origin: content-box;
	padding: 20px;
	border: 2px solid #ffffff;
	background-repeat: no-repeat;

	transition:  all 0.3s linear;

}
.box2:hover{
	background-size: 600px 600px;
}





.blur{
	filter: blur(10px);
}


.scaleImg{
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}

.scaleImg:hover{
	animation-name: scale-img ;
}

@keyframes scale-img {
	0%{
		background-size: 300px 300px;
	}
	100%{
		background-size: 1000px 1000px;
	}
}

.ball{
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: red;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	animation-name: move;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration:5s;
	animation-delay: 0.5s;
	animation-direction: alternate;

}

@keyframes move {
	100%{
		left: 200px;
	}
}